<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Purchase Confirmation</title>
</head>

<body>
    <h1>Add To Cart</h1>
    <h1><a href="/dashboard">Home</a> | <a href="/about">About</a> | <a href="/purchase">Purchase</a>| <a
            href="/orders">Orders</a> </h1>
    <h1>Hello {{request.session.u_fname}}!</h1>
    <form action='/logout' , method='post'>
        {% csrf_token %}
        <input type='submit' , value='Log Out'>
    </form>
    <div class="content">
        <form action="/purchase/checkout/{{purchase_html.id}}" method="POST">
            {% csrf_token %}
            <p>Name: {{purchase_html.name}}</p>
            <p>Email: {{purchase_html.email}}</p>
            <p>Subject:{{purchase_html.subject}}</p>
            <p>Message:{{purchase_html.message}}</p>
            <p>Shipping Address:{{purchase_html.shipping_address}}</p>
            <p>City:{{purchase_html.city}}</p>
            <p>State:{{purchase_html.state}}</p>
            <p>Zip Code:{{purchase_html.zip_code}}</p>
            <p>Credit Card Number:{{purchase_html.credit_card_number}}</p>
            <p>Security Code:{{purchase_html.security_code}}</p>
            <p>Card Used:{{purchase_html.card_type}}</p>
            <p>Expiration Date:{{purchase_html.expiration_date}}</p>
            <p>Quantity:{{purchase_html.quantity}}</p>
            <input type="submit" , value="Confirm">
            <a href="/purchase"><input type="button" onclick="location.href='/purchase'" value="Cancel"> </a>
        </form>
    </div>
</body>

</html>